<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <ul>
        {% if user.is_authenticated %}
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'signup' %}">Sign up</a>
            </li>
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
        {% endif %}
    </ul>
</head>
<body>
    <main>
        <div>
            <h1>Login</h1>
            <form method ="post">
                {% csrf_token %}
                {{ form.as_p}}
                <button>Login</button>
            </form>
        </div>

    </main>
</body>
</html>
