{% extends 'base.html' %}

{% block title %}
Account List
{% endblock title %}
{% block content %}
<main>
    <h1>Account List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of Reciepts</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for account in account_list %}
                <td>{{ account.name }}</td>
                <td>{{ account.number }}</td>
                <td>{{ account.receipts.all|length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
